@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-transition {
    @apply transition-all duration-300 ease-in-out;
  }
}

html,
body,
main {
  height: 100% !important;
  overflow: auto !important;
}

#__next {
  height: 100% !important;
}
